In [3]:
import pandas as pd
import numpy as np

In [4]:
food_reviews = pd.read_csv('food_reviews.csv', encoding="ISO-8859-1")

In [5]:
food_reviews.tail()

,product/productId,review/userId,review/profileName,review/helpfulness,review/score,review/time,review/summary,review/text
568457,B003S1WTCU,A3I8AFVPEE8KI5,R. Sawyer,0/0,2.0,1.331251e+09,disappointed,I'm disappointed with the flavor. The chocolat...
568458,B004I613EE,A121AA1GQV751Z,"pksd ""pk_007""",2/2,5.0,1.329782e+09,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o..."
568459,B004I613EE,A3IBEVCTXKNOH,"Kathy A. Welch ""katwel""",1/1,5.0,1.331597e+09,Favorite Training and reward treat,These are the BEST treats for training and rew...
568460,B001LR2CU2,A3LGQPJCZVL9UC,srfell17,0/0,5.0,1.338422e+09,Great Honey,"I am very satisfied ,product is as advertised,..."
568461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

As last row is empty, removing it

In [6]:
food_reviews = food_reviews.iloc[0:len(food_reviews) - 1,]

Checking if the dataframe has empty values

In [7]:
food_reviews.isnull().values.any()

True

It has na values... Finding out which column has them

In [26]:
for i in range(len(food_reviews.columns)):
    print('Column ' + str(i))
    print(food_reviews.iloc[:,i].isnull().values.any())

Column 0
True
Column 1
True
Column 2
True
Column 3
True
Column 4
True
Column 5
True
Column 6
True
Column 7
True

Summary and text columns have missing values. Dropping those rows which have both of them missing.

In [8]:
food_reviews = food_reviews[food_reviews['review/summary'].notnull() | food_reviews['review/text'].notnull()]
food_reviews.tail()

,product/productId,review/userId,review/profileName,review/helpfulness,review/score,review/time,review/summary,review/text
568456,B001EO7N10,A28KG5XORO54AY,Lettie D. Carter,0/0,5.0,1.299629e+09,Will not do without,Great for sesame chicken..this is a good if no...
568457,B003S1WTCU,A3I8AFVPEE8KI5,R. Sawyer,0/0,2.0,1.331251e+09,disappointed,I'm disappointed with the flavor. The chocolat...
568458,B004I613EE,A121AA1GQV751Z,"pksd ""pk_007""",2/2,5.0,1.329782e+09,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o..."
568459,B004I613EE,A3IBEVCTXKNOH,"Kathy A. Welch ""katwel""",1/1,5.0,1.331597e+09,Favorite Training and reward treat,These are the BEST treats for training and rew...
568460,B001LR2CU2,A3LGQPJCZVL9UC,srfell17,0/0,5.0,1.338422e+09,Great Honey,"I am very satisfied ,product is as advertised,..."

Dataframe now has one row less

In [28]:
food_reviews['review/text'].isnull().values.any()

False

In [29]:
food_reviews['review/summary'].isnull().values.any()

True

Now the text column doesn't seem to have any missing value

#### Cleaning the column names

In [9]:
food_reviews.columns = [each.split("/")[1] for each in food_reviews.columns]

In [42]:
len(food_reviews.productId.value_counts()[food_reviews.productId.value_counts() == 1])

30407

In [43]:
food_reviews.shape

(568454, 8)

In [45]:
100 * 30407/568454

5.349069581707579

In [46]:
food_reviews.productId.isnull().sum()

7

In [10]:
food_reviews.loc[:,'helpful_upvotes'] = food_reviews.helpfulness.apply(lambda x: float(x.split("/")[0]))
food_reviews.loc[:,'helpful_responses'] = food_reviews.helpfulness.apply(lambda x: float(x.split("/")[1]))

In [85]:
food_reviews.head()

,productId,userId,profileName,helpfulness,score,time,summary,text,helpful_upvotes,helpful_responses,helpfulness_percentage
0,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1/1,5.0,1.303862e+09,Good Quality Dog Food,I have bought several of the Vitality canned d...,1.0,1.0,1.0
1,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0/0,1.0,1.346976e+09,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,0.0,0.0,NaN
2,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1/1,4.0,1.219018e+09,"""Delight"" says it all",This is a confection that has been around a fe...,1.0,1.0,1.0
3,B000UA0QIQ,A395BORC6FGVXV,Karl,3/3,2.0,1.307923e+09,Cough Medicine,If you are looking for the secret ingredient i...,3.0,3.0,1.0
4,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0/0,5.0,1.350778e+09,Great taffy,Great taffy at a great price. There was a wid...,0.0,0.0,NaN

In [11]:
food_reviews['helpfulness_percentage']  = 100 * food_reviews.helpful_upvotes /food_reviews.helpful_responses

In [12]:
food_reviews = food_reviews[~(food_reviews.helpful_upvotes > food_reviews.helpful_responses)]

In [105]:
food_reviews.head()

,productId,userId,profileName,helpfulness,score,time,summary,text,helpful_upvotes,helpful_responses,helpfulness_percentage
0,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1/1,5.0,1.303862e+09,Good Quality Dog Food,I have bought several of the Vitality canned d...,1.0,1.0,100.0
1,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0/0,1.0,1.346976e+09,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,0.0,0.0,NaN
2,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1/1,4.0,1.219018e+09,"""Delight"" says it all",This is a confection that has been around a fe...,1.0,1.0,100.0
3,B000UA0QIQ,A395BORC6FGVXV,Karl,3/3,2.0,1.307923e+09,Cough Medicine,If you are looking for the secret ingredient i...,3.0,3.0,100.0
4,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0/0,5.0,1.350778e+09,Great taffy,Great taffy at a great price. There was a wid...,0.0,0.0,NaN

In [13]:
food_reviews[food_reviews.helpful_upvotes > food_reviews.helpful_responses]

Empty DataFrame
Columns: [productId, userId, profileName, helpfulness, score, time, summary, text, helpful_upvotes, helpful_responses, helpfulness_percentage]
Index: []

### Tokenize the words after converting the text to lower case

In [14]:
from nltk.tokenize import word_tokenize

In [15]:
food_reviews['review_tokens'] = food_reviews.text.str.lower().apply(lambda x: word_tokenize(x))

In [16]:
from gensim.models import Word2Vec

C:\ProgramData\Anaconda3\lib\site-packages\gensim\utils.py:1212: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

### Remove stop words, stemming, and punctuations.

In [2]:
from nltk import PorterStemmer

In [18]:
stemmer = PorterStemmer()
food_reviews['review_tokens'] = food_reviews['review_tokens'].apply(lambda x: [stemmer.stem(words) for words in x])

In [19]:
def remove_punctuations(x):
    y = []
    for i in range(len(x)):
        if x[i].isalnum():
            y.extend([x[i]])
    return y

In [20]:
food_reviews['review_tokens'] = food_reviews['review_tokens'].apply(remove_punctuations)

### Saving word2vec model. Use it load in the future.

In [21]:
model = Word2Vec(food_reviews.review_tokens, size=100, window=5, min_count=1, workers=4)
model.save("word2vec.model")

In [31]:
#model['delicious']

In [53]:
food_reviews['review_tokens']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  """Entry point for launching an IPython kernel.

array([ 0.08377772, -0.05121125, -0.589991  ,  0.53734916,  0.37726554,
       -0.22738843,  0.17918913,  0.24328737,  0.518551  ,  0.46131483,
        0.19419493,  0.86166644, -0.03044702,  0.5105445 , -0.42473188,
        0.09241164,  0.13159943,  0.26955757, -0.10924666,  0.5349982 ,
       -0.24959497, -0.4016913 , -0.3248804 , -0.5195389 ,  0.2881031 ,
       -0.59323925,  0.12624007, -0.02979122,  0.15877359, -0.34186924,
        0.36859748, -0.04171976,  0.16364987,  0.19358903,  0.11076825,
        0.35744932,  0.14960115,  1.1815318 ,  0.84123355, -0.59085935,
        0.22299236, -0.732852  ,  0.26724702, -0.10145044,  0.09082256,
        0.20604272,  0.4065304 ,  0.16224283, -0.18422484,  0.15745129,
       -0.2878702 , -0.29670736, -0.871032  , -0.09846961,  0.08986934,
        0.4874256 ,  0.6148495 , -0.9927735 ,  0.03131086, -0.09896019,
        0.13620456,  0.16803817,  0.08967035, -0.21369594,  0.4329236 ,
       -0.03817221, -0.01964252, -0.1099768 , -0.27992502, -0.3945352 ,
        0.09360967,  0.11240355,  0.3803725 , -0.20887165,  0.23888727,
       -0.31219837, -0.37261486, -0.2716168 , -0.3194507 , -1.111961  ,
       -0.8643163 ,  0.22933173, -0.06086323,  0.15520976, -0.57871777,
        0.17112762,  0.7668948 ,  0.57198244,  0.3100975 , -0.5486222 ,
        0.54283255, -0.26765022,  0.6082576 ,  0.20791006, -0.11083489,
       -0.04082851,  0.3836769 , -0.62855405, -0.411518  , -0.5127954 ],
      dtype=float32)

In [51]:
len(food_reviews['review_tokens'][0])

48