In [1]:
import pandas as pd
import numpy as np

In [45]:
food_reviews = pd.read_csv('food_reviews.csv', encoding="ISO-8859-1")

In [46]:
food_reviews.tail()

,product/productId,review/userId,review/profileName,review/helpfulness,review/score,review/time,review/summary,review/text
568457,B003S1WTCU,A3I8AFVPEE8KI5,R. Sawyer,0/0,2.0,1.331251e+09,disappointed,I'm disappointed with the flavor. The chocolat...
568458,B004I613EE,A121AA1GQV751Z,"pksd ""pk_007""",2/2,5.0,1.329782e+09,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o..."
568459,B004I613EE,A3IBEVCTXKNOH,"Kathy A. Welch ""katwel""",1/1,5.0,1.331597e+09,Favorite Training and reward treat,These are the BEST treats for training and rew...
568460,B001LR2CU2,A3LGQPJCZVL9UC,srfell17,0/0,5.0,1.338422e+09,Great Honey,"I am very satisfied ,product is as advertised,..."
568461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

As last row is empty, removing it

In [47]:
food_reviews = food_reviews.iloc[0:len(food_reviews) - 1,]

Checking if the dataframe has empty values

In [48]:
food_reviews.isnull().values.any()

True

It has na values... Finding out which column has them

In [49]:
for i in range(len(food_reviews.columns)):
    print('Column ' + str(i))
    print(food_reviews.iloc[:,i].isnull().values.any())

Column 0
True
Column 1
True
Column 2
True
Column 3
True
Column 4
True
Column 5
True
Column 6
True
Column 7
True

Summary and text columns have missing values. Dropping those rows which have both of them missing.

In [54]:
food_reviews = food_reviews[food_reviews['review/summary'].notnull() | food_reviews['review/text'].notnull()]
food_reviews.tail()

,product/productId,review/userId,review/profileName,review/helpfulness,review/score,review/time,review/summary,review/text
568456,B001EO7N10,A28KG5XORO54AY,Lettie D. Carter,0/0,5.0,1.299629e+09,Will not do without,Great for sesame chicken..this is a good if no...
568457,B003S1WTCU,A3I8AFVPEE8KI5,R. Sawyer,0/0,2.0,1.331251e+09,disappointed,I'm disappointed with the flavor. The chocolat...
568458,B004I613EE,A121AA1GQV751Z,"pksd ""pk_007""",2/2,5.0,1.329782e+09,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o..."
568459,B004I613EE,A3IBEVCTXKNOH,"Kathy A. Welch ""katwel""",1/1,5.0,1.331597e+09,Favorite Training and reward treat,These are the BEST treats for training and rew...
568460,B001LR2CU2,A3LGQPJCZVL9UC,srfell17,0/0,5.0,1.338422e+09,Great Honey,"I am very satisfied ,product is as advertised,..."

Dataframe now has one row less

In [55]:
food_reviews['review/text'].isnull().values.any()

False

In [56]:
food_reviews['review/summary'].isnull().values.any()

True

Now the text column doesn't seem to have any missing value